@using DDFrAS;
@{
    Page.Title = "Nieuw Script";
    Layout = "_Layout.cshtml";
    int id = 5;
}
@{
    using (var context = new DDFrASEntities())
    {
        var ssh_template = context.SSH_COMMANDS.Find(id).Command_Temp;

        if (IsPost)
        {
            //request form data
            string script = Request.Form["script"];
            var now = Request.Form["now"];
            DateTime executedate = Request.Form["executedate"].AsDateTime();
            if(executedate == DateTime.MinValue || now == "true") { executedate = DateTime.Now; }
            int sw_id = Request.Form["selectswitch"].AsInt();

            //push form data to database
            Newvdbinputs.NewScript(script, executedate, id, sw_id);
            Response.Redirect("~/DDFrAS/viewscripts.cshtml");
        }




<div class="container text-left">
    <h2>Nieuw Script Maken</h2><br />
    <form method="post" class="form-group">
        <textarea name="script" style="width: 100%;height:100%" class="form-control">@ssh_template</textarea>
        <input type="datetime-local" name="executedate" value="@DateTime.Now.ToString();" min="@DateTime.Now.ToString();">
        <p>Uitvoeren op switch:<br />
            @foreach(var sw in ASselectswitch.Getallswitchess())
            {
               <input type="radio" name="selectswitch" value="@sw.Switch_ID"/> @sw.Switch_Name<br />
            }
        </p>
            Voer direct uit? <input type="checkbox" name="now" value="true"/><br />
        <button type="submit" class="btn-outline-primary">Plan nieuw script</button>
    </form>
</div>
    }
}
