@using DDFrAS;
@{
    Validation.Add("switchname", Validator.Required("Verplicht veld"), Validator.StringLength(20, 0, "Maximaal 20 tekens."));
    Validation.Add("manip", Validator.Required("Verplicht veld"), Validator.StringLength(15, 0, "Ip adres is niet meer dan 15 tekens"));
    Validation.Add("sshuser", Validator.Required("Verplicht veld"), Validator.StringLength(20, 0, "Maximaal 20 tekens."));
    Validation.Add("sshpass", Validator.Required("Verplicht veld"), Validator.StringLength(15, 0, "Maximaal 20 tekens."));
    Validation.Add("enpass", Validator.Required("Verplicht veld"), Validator.StringLength(15, 0, "Maximaal 20 tekens."));
    Page.Title = "Switches";
    Layout = "~/DDFrAS/_Layout.cshtml";
    bool edit = Request.QueryString["edit"].AsBool();

    //get all the switches from database
    var grid = new WebGrid();
    using (var context = new DDFrASEntities()) { var switches = context.SWITCHes.ToList(); grid = new WebGrid(switches); }
}
<div class="container">
    <h3 class="h3">Alle Switches:</h3>
    <table class="table-responsive">
        @grid.Table(
 tableStyle: "table table-striped table-hover",
 columns: grid.Columns(
     grid.Column("Switch_Name", header: "Switch naam"),
     grid.Column("Man_IP", header: "Management ip"),
     grid.Column(format: @<a href="~/DDFrAS/Viewswitch.cshtml?id=@item.Switch_ID">Meer/wijzig</a>),
grid.Column(format: @<a href="~/DDFrAS/Viewswitch.cshtml?id=@item.Switch_ID&edit=true"></a>)))
    </table>
</div>
@if (IsPost && Validation.IsValid())
{ ASInput.NewSwitch(Request.Form["switchname"], Request.Form["manip"], Request.Form["sshuser"], Request.Form["sshpass"], Request.Form["enpass"]); }
@{if (!edit)
    {<div class="container">
            <form action="~/DDFrAS/Switches.cshtml">
                <input type="hidden" name="edit" value="true" />
                <button type="submit" class="btn btn-success pull-right">Nieuwe Switch</button>
            </form>
        </div>}
    else
    {
        <div class="container">
            <div class="form-control col-xl-6">
                <h4 class="h4 border-bottom">Nieuwe switch</h4>
                @Html.ValidationSummary(true)
                <form method="post">
                    <div class="form-group">
                        <label>Switch Naam</label>
                        <input class="form-control" name="switchname" placeholder="Voer switchnaam in" />
                        @Html.ValidationMessage("switchname")
                    </div>
                    <div class="form-group">
                        <label>Management ip</label>
                        <input class="form-control" name="manip" placeholder="Ip adres" />
                        @Html.ValidationMessage("manip")
                    </div>
                    <div class="form-group">
                        <label>SSH Gebruikersnaam</label>
                        <input class="form-control" name="sshuser" placeholder="Gebruikersnaam" />
                        @Html.ValidationMessage("sshuser")
                    </div>
                    <div class="form-group">
                        <label>SSH wachtwoord</label>
                        <input class="form-control" name="sshpass" placeholder="SSH wachtwoord" />
                        @Html.ValidationMessage("sshpass")
                    </div>
                    <div class="form-group">
                        <label>Enable wachtwoord</label>
                        <input class="form-control" name="enpass" placeholder="Enable wachtwoord" />
                        @Html.ValidationMessage("enpass")
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Voeg toe</button>
                    </div>
                </form>
            </div>
        </div>}
}