@using DDFrAS;
@{
    Page.Title = "Scripts";
    Layout = "_Layout.cshtml";

    //Get all scripts
    var grid = new WebGrid();
    using (var context = new DDFrASEntities())
    {
        int planned=0;
        int executed=0;
        var scripts = context.CONFIGs.ToList(); //Fetch all config entities
        foreach (var script in scripts){if(script.Status == 0) { planned++;}} //check if there are any planned scripts
        foreach (var script in scripts){if(script.Status != 0) { executed++;}} //check if there are any executed scripts
        var switches = context.SWITCHes.ToList(); //Fetch all switch entities

        //Table for planned scripts if there are configs in the DB
        <div class="bg-dark text-white">
            <div class="container-lg col-10"><h4>Geplande scripts</h4></div>
        </div>
        <div class="container col border-bottom">
            @if (scripts.Count > 1 && planned>0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Switch</th>
                            <th>Status</th>
                            <th>Uitvoer</th>
                            <th>Output en direct-terminal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var script in scripts)
                        {
                            if (script.Status == 0)
                            {
                                <tr>
                                    <td>@switches.Where(s => s.Switch_ID == script.Switch_ID).Select(s => s.Switch_Name).FirstOrDefault()</td>
                                    <td>@ASselect.Getstatus(script.Status)</td>
                                    <td>@script.ExDate</td>
                                    <td><a href="~/DDFrAS/viewscript.cshtml?id=@script.Config_ID">Zien</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="text-body">
                    <p>
                        Geen geplande scripts gevonden.
                        <a href="~/DDFrAS/Newscript.cshtml">Nieuw script.</a>
                    </p>
                </div>
            }
        </div>
        <div>
            <br />
        </div>
        //Table for executed scripts if there are executed configs in the DB
        <div class="bg-dark text-white">
            <div class="container-lg col-10"><h4>Uitgevoerde scripts</h4></div>
        </div>
        <div class="container col">
            @if (scripts.Count > 1 && executed>0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Switch</th>
                            <th>Status</th>
                            <th>Uitvoer</th>
                            <th>Output en direct-terminal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var script in scripts)
                        {
                            <tr>
                                <td>@switches.Where(s => s.Switch_ID == script.Switch_ID).Select(s => s.Switch_Name).FirstOrDefault()</td>
                                <td>@ASselect.Getstatus(script.Status)</td>
                                <td>@script.ExDate</td>
                                <td><a href="~/DDFrAS/viewscript.cshtml?id=@script.Config_ID">Zien</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="text-body">
                    <p>
                        Geen uitgevoerde scripts gevonden.
                    </p>
                </div>
            }
        </div>
    }
}